<!doctype html>
<html>

  <head>
    <title>Calculadora de Tinta</title>
  </head>

  <body>
    <h1>Calculadora de Tinta</h1>

    <main>
      <form id="walls-dimensions-form">
        <fieldset>
          <legend>Parede A</legend>
          <label for="height-a">Altura</label>
          <input type="number" id="height-a" min="1" max="15" step="0.1">
  
          <label for="width-a">Largura</label>
          <input type="number" id="width-a" min="1" max="15" step="0.1">
  
          <label for="windows-a">Janelas</label>
          <select id="windows-a">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
  
          <label for="doors-a">Portas</label>
          <select id="doors-a">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </fieldset>
        
        <fieldset>
          <legend>Parede B</legend>
          <label for="height-b">Altura</label>
          <input type="number" id="height-b" min="1" max="15" step="0.1">
  
          <label for="width-b">Largura</label>
          <input type="number" id="width-b" min="1" max="15" step="0.1">
  
          <label for="windows-b">Janelas</label>
          <select id="windows-b">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
  
          <label for="doors-b">Portas</label>
          <select id="doors-b">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </fieldset>
  
        <fieldset>
          <legend>Parede C</legend>
          <label for="height-c">Altura</label>
          <input type="number" id="height-c" min="1" max="15" step="0.1">
  
          <label for="width-c">Largura</label>
          <input type="number" id="width-c" min="1" max="15" step="0.1"></label>
  
          <label for="windows-c">Janelas</label>
          <select id="windows-c">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
  
          <label for="doors-c">Portas</label>
          <select id="doors-c">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </fieldset>
  
        <fieldset>
          <legend>Parede D</legend>
          <label for="height-d">Altura</label>
          <input type="number" id="height-d" min="1" max="15" step="0.1">
  
          <label for="width-d">Largura</label>
          <input type="number" id="width-d" min="1" max="15" step="0.1">
  
          <label for="windows-d">Janelas</label>
          <select id="windows-d">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
  
          <label for="doors-d">Portas</label>
          <select id="doors-d">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </fieldset>

        <button type="submit" id="walls-dimensions-button">Confirmar</button>
      </form>
    </main>

    <script>
      const wallsDimensionsForm = document.querySelector('#walls-dimensions-form');

      wallsDimensionsForm.addEventListener('submit', handler)
    </script>
  </body>

</html>