<!doctype html>
<html>

  <head>
    <title>Calculadora de Tinta</title>
  </head>

  <body>
    <h1>Calculadora de Tinta</h1>

    <form>
      <fieldset>
        <legend>Parede A</legend>
        <label for="height-a">
          Altura
          <input type="number" id="height-a" min="1" max="15" step="0.1">
        </label>
        <label for="width-a">
          Largura
          <input type="number" id="width-a" min="1" max="15" step="0.1">
        </label>
      </fieldset>
      
      <fieldset>
        <legend>Parede B</legend>
        <label for="height-b">
          Altura
          <input type="number" id="height-b" min="1" max="15" step="0.1">
        </label>
        <label for="width-b">
          Largura
          <input type="number" id="width-b" min="1" max="15" step="0.1">
        </label>
      </fieldset>

      <fieldset>
        <legend>Parede C</legend>
        <label for="height-c">
          Altura
          <input type="number" id="height-c" min="1" max="15" step="0.1">
        </label>
        <label for="width-c">
          Largura
          <input type="number" id="width-c" min="1" max="15" step="0.1">
        </label>
      </fieldset>

      <fieldset>
        <legend>Parede D</legend>
        <label for="height-d">
          Altura
          <input type="number" id="height-d" min="1" max="15" step="0.1">
        </label>
        <label for="width-d">
          Largura
          <input type="number" id="width-d" min="1" max="15" step="0.1">
        </label>
      </fieldset>
    </form>
  </body>

</html>